@{
    ViewData["Title"] = "ASP Exam";
}
<h1>Orders App</h1>
<form method="post" asp-action="BeginOrder">
    <label>Username:</label><input name="username" required />
    <button type="submit">Start ordering</button>
</form>