# Node.js
node_modules/
.next/

FileContentIndex/
**/bin/
**/debug/
*.dll
*.pdb
packages/
*.cache
*.suo
*.resx

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Build directories
/build
/coverage

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor directories and files
.vscode/
.idea/

# Environment variables file
.env

# Test coverage directory
/coverage/

# Package lock files (optional)
package-lock.json
yarn.lock

# Ignore Jest output (coverage, etc.)
jest-coverage/

