<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Concert Reservation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ConcertApp</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Reservation" asp-action="Flights">Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Reservation" asp-action="Hotels">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Reservation" asp-action="CancelAll">Cancel All Reservations</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        @RenderBody()
    </div>
</body>
</html>
